In [1]:
from imports import *

In [12]:
df = pd.read_csv('~/codeup-data-science/innis-2ndtry/MLS_data/all_goalkeepers.csv')
df.head()

,Player,Club,POS,GP,GS,MINS,SHTS,SV,GA,GAA,PKG/A,W,L,T,ShO,W%,Sv%,Year,Season
0,Mark Dodd,DAL,GK,31,31,2776,235,160,45,1.45,5/5,17,14,0,6,54.8,68.1,1996,reg
1,Tony Meola,MET,GK,29,29,2610,188,142,38,1.31,3/4,14,15,0,9,48.3,75.5,1996,reg
2,Mark Dougherty,TB,GK,28,28,2520,186,123,47,1.68,9/10,17,11,0,3,60.7,66.1,1996,reg
3,Jorge Campos,LA,GK,24,24,2160,133,100,27,1.13,0/1,13,8,0,4,54.2,75.2,1996,reg
4,Garth Lagerwey,KC,GK,23,22,1959,133,83,38,1.73,2/2,12,10,0,3,52.2,62.4,1996,reg

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2006 non-null   object
 1   Club    1324 non-null   object
 2   POS     2006 non-null   object
 3   GP      2006 non-null   int64
 4   GS      2006 non-null   int64
 5   MINS    2006 non-null   int64
 6   SHTS    2006 non-null   int64
 7   SV      2006 non-null   int64
 8   GA      2006 non-null   int64
 9   GAA     2006 non-null   float64
 10  PKG/A   2006 non-null   object
 11  W       2006 non-null   int64
 12  L       2006 non-null   int64
 13  T       2006 non-null   int64
 14  ShO     2006 non-null   int64
 15  W%      2006 non-null   float64
 16  Sv%     2006 non-null   float64
 17  Year    2006 non-null   int64
 18  Season  2006 non-null   object
dtypes: float64(3), int64(11), object(5)
memory usage: 297.9+ KB

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
GP,2006.0,6.804586,10.316232,0.0,0.0,1.00,9.00,34.0
GS,2006.0,6.677966,10.292286,0.0,0.0,1.00,8.00,34.0
MINS,2006.0,603.997009,924.747438,0.0,0.0,90.00,770.25,3060.0
SHTS,2006.0,33.926720,52.330135,0.0,0.0,7.00,47.00,249.0
SV,2006.0,23.310568,36.569597,0.0,0.0,4.00,31.00,184.0
GA,2006.0,9.608175,14.673335,0.0,0.0,2.00,13.75,64.0
GAA,2006.0,0.888500,0.992154,0.0,0.0,0.94,1.50,6.0
W,2006.0,2.629611,4.433369,0.0,0.0,0.00,3.00,22.0
L,2006.0,2.626620,4.090945,0.0,0.0,1.00,3.00,19.0
T,2006.0,1.420738,2.753633,0.0,0.0,0.00,1.00,18.0
ShO,2006.0,1.606680,2.855163,0.0,0.0,0.00,2.00,16.0
W%,2006.0,18.861316,24.494023,0.0,0.0,0.00,37.50,100.0
Sv%,2006.0,37.418096,34.628706,0.0,0.0,52.70,68.90,100.0
Year,2006.0,2010.110668,7.284097,1996.0,2004.0,2011.00,2016.75,2020.0